* {
  padding: 0;
  margin: 0;
}

nav {
  background: #be3144;
  height: 70px;
  overflow: hidden;
}

nav ul {
  display: flex;
  min-height: 100%;
  justify-content: end;
  align-items: center;
  list-style: none;
/*   gap: 50px; */
  padding: 0 20px 0;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
    padding: 100% 20px;
}
nav li a:hover {
  background: #45567d;
}

#welcome-section {
  height: calc(100vh - 70px);
  background-color: #313336;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#welcome-section h1 {
  color: #fff;
  font-size: 60px;
}

#welcome-section p {
  color: #be3144;
  font-size: 30px;
  font-style: italic;
}
